* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background: #1e1a20;
}

.webgl {
  position: fixed;
  top: 0;
  left: 0;
  outline: none;
  width: 1224px;
}

.title {
  font-size: 10vmin;
  color: lightcyan;
}

h2 {
  color: lightcyan;
}

.section {
  display: flex;
  align-items: center;
  height: 100vh;
  position: relative;
  padding-left: 10%;
  font-family: "Cabin", sans-serif;
  color: #ffeded;
  padding-right: 10%;
}

h1 {
  text-transform: uppercase;
  font-size: 6vmin;
}

.portfolio {
  flex-direction: column;
  align-items: start;
  justify-content: center;
  gap: 60px;
}

.contact {
  flex-direction: column;
  align-items: start;
  justify-content: center;
}

.contact h1 {
  margin-bottom: 30px;
}

.contact a:hover {
  color: aliceblue;
}

.contact span {
  text-transform: lowercase;
  font-size: 20px;
  padding-left: 20px;
  padding-bottom: 10px;
}

a {
  text-decoration: none;
  color: #ffeded;
}

section:nth-child(odd) {
  justify-content: flex-end;
}

.projects h1 {
  margin-bottom: 40px;
}

.projects-div {
  background-color: #d8d8d8;
  width: 290px;
  height: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.2s ease-in-out;
  border-radius: 7px;
}
h3 {
  color: black;
  padding: 10px 10px 0px 10px;
}

.projects-div:hover {
  transform: scale(1.1);
}

.projects {
  flex-direction: column;
  top: 100px;
  left: 200px;
  width: 1200px;
  padding: 10px;
}

.all-projects {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 60px;
}

.all-projects img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  padding-top: 10px;
}

.all-projects span {
  color: black;
  font-size: 16px;
  padding: 10px;
}

.all-projects div:nth-child(4) img {
  object-position: left;
}

.contact {
  top: 120px;
}
